.reviews {
    color: black;
    background: white;
    box-shadow: black;
    flex: 1 1 21rem;
    margin: 10px 20px;
}
 
.review_list_section {
    display: flex;
    flex-wrap: wrap;
  }
  .review {
    flex-basis: 33.333333%;
  }
  