.navbar {
    display: flex;
    flex-direction: column;
  }
  
  .navbar__link {
    color: white;
    text-decoration: none;
    padding: 15px;
  }
  
  .navbar__link:hover {
    text-decoration: underline;
  }